:root {
  /*Colors*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  /*Fonts*/
  --FontFam: "Poppins", sans-serif;
  --fw-200: 200;
  --fw-400: 400;
  --fw-800: 600;
  --fs-092: 0.92rem;
  --fs-1: 1rem;
  --fs-14: 1.4rem;
  --fs-17: 1.7rem;
  --fs-2: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--FontFam);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Light-Gray);
  margin: 7vw;
}

section {
  width: 19rem;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}

.headerText {
  margin-bottom: var(--fs-2);
}

.headerText h1 {
  font-weight: var(--fw-200);
  color: var(--Very-Dark-Blue);
}

.headerText h2,
.headerText h1 {
  font-size: clamp(var(--fs-14), 2.5vw, var(--fs-2));
}

.headerText h2,
.flexchild h3 {
  color: var(--Very-Dark-Blue);
  font-weight: var(--fw-800);
}

.headerText h2 {
  padding-bottom: var(--fs-1);
}

.headerText p,
.flexchild p {
  color: var(--Grayish-Blue);
  font-weight: var(--fw-400);
  font-size: var(--fs-092);
}

.flexchild p {
  font-size: 0.8rem !important;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: var(--fs-2) 0;
}

.redandorange {
  display: none;
}

.flexchild {
  background-color: var(--White);
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
  padding: var(--fs-17);
  position: relative;
  overflow: hidden;
}

.flexchild::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.cyan::before {
  background-color: var(--Cyan);
}

.red::before {
  background-color: var(--Red);
}

.orange::before {
  background-color: var(--Orange);
}

.blue::before {
  background-color: var(--Blue);
}

.flexchild img {
  float: right;
  margin-top: var(--fs-17);
}

@media (min-width: 600px) {
  section {
    width: 90%;
    margin: auto;
  }

  .headerText {
    margin-bottom: var(--fs-2);
    width: 31rem;
  }

  .flexContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flexchild {
    width: 16rem;
  }
}

@media (min-width: 1000px) {
  .noDisplay {
    display: none;
  }

  .redandorange {
    display: block;
  }

  .redandorange {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .flexContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .flexchild {
    width: 16rem;
  }
}
